<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Главная</title>

    <link rel="stylesheet" href="/static/css/loginPage.css">
    <link rel="shortcut icon" sizes="32x32" href="static/images/rosbank_icon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
</head>

<body>
<div>
<form name="register_form" class="loginForm" method="post" action="http://127.0.0.1:5000/register">
    <input type="text" placeholder="Ваш RB" name="login"/>
    <input type="password" placeholder="Укажите пароль" name="pswrd"/>
    <input type="password" placeholder="Повторите пароль" name="pswrdCheck"/>
    <input type="submit" value="Зарегистрироваться" />
</form>


</div>
</body>
</html>